<%= javascript 'script.js' %>

<html>
    <head>
        <style>
            html{
                background-color: #8DC7B8;
            }
            span{
                display: block;
            }
            hr{
                margin-top: 65px;
                border: 0; 
                border-top: 2px solid #1DA099;
            }
            h1 {
                color: white;
                font-family: Euphemia;
                font-size: 3em;
                background-color: #1DA099;
                margin: auto;
            }
            

            h3 {
                font-size: 1em;
            }
            
            #layout {
                display: block;
                margin: 10px;
                text-align: center;
            }
            
            .column {
                padding: 0;
                margin: 0px;
                height: 400px;
                width: 66px;
                border-top: 2px solid;
                border-left: 2px solid;
                border-right: 2px solid;
                border-bottom: 2px solid;
                border-color: #1DA099;
                border-radius: 5px;
            }
            
            .gamediv {
                text-align: center;
                margin-top: 50px;
                padding: 0px;
                display: inline-block;
            }

            .columndiv {
                margin: -3px;
                display: inline-block;
            }

            .restart {
                padding: 8px;
                background-color: #1DA099;
                border-color: #1DA099;
                color: white;
                width: 120px;
                display: block;
                margin: 15px;
                display: inline;
                border-radius: 5px;
                font-family: Euphemia;
                font-weight: bold;
                font-size: 15px;
            }

            .displaydiv {
                height: 160px;
                width: 100px;
                display: inline;
            }

            .display {
                margin: 3px 0 3px 0;
                font-family: Euphemia;
                font-weight: bold;
                font-size: 25px;
                color: #1DA099;
            }

            .win {
                display: none;
            }

            .displaydiv > div {
                margin: auto;
                width: 52px;
                height: 52px;
            }

            .displaydiv .token {
                height:40px;
                width: 40px;
                margin: auto;
                border-width: 6px;
            }

            .player1 {
                background-color: #FFB591;
                border: 3px solid #FFB595;
            }

            .player2 {
                background-color: #FF6666;
                border: 3px solid #FF6670;
            }

            .token {
                height: 60px;
                width: 60px;
                border-radius: 100%;
                margin: auto;
            }
            .mouseovertoken{
                height: 61px;
                width: 61px;
                border-radius: 100%;
                margin: auto;
                opacity: 0.5;
            }
            .gamediv .token {
                position: absolute;
            }
        </style>
        
    </head>
    
    <body id="layout">
        <h1>Connect 4</h1>
        <div class="gamediv">
            <div class="columndiv"><div class="column"><hr><hr><hr><hr><hr></div></div>
            <div class="columndiv"><div class="column"><hr><hr><hr><hr><hr></div></div>
            <div class="columndiv"><div class="column"><hr><hr><hr><hr><hr></div></div>
            <div class="columndiv"><div class="column"><hr><hr><hr><hr><hr></div></div>
            <div class="columndiv"><div class="column"><hr><hr><hr><hr><hr></div></div>
            <div class="columndiv"><div class="column"><hr><hr><hr><hr><hr></div></div>
            <div class="columndiv"><div class="column"><hr><hr><hr><hr><hr></div></div>
        </div>
        
        <div class="displaydiv">
            <h4 class="display">Player:</h4>
            <div><div class="token player2"></div></div>
            <h2 class="display win">Winner!</h2>
            <h3 class="display win">Game Over</h3>
            <button class="restart">Restart Game</button>
        </div>
    </body>
    
</html>
